<html>
<head>
  <title>Список пар слов</title>
</head>
<body>
<% if user_signed_in? %>
  Вы вошли, <%= current_user.email %> <br>
  <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
<% else %>
  Вы - аноним
<% end %>
<% if @empty || @words.nil? %>
  <p style="color: red;">Нет ни одной пары слов</p>
<% else %>
  <table border="1" style="text-align: center">
    <caption>Пары слов</caption>
    <thead>
    <th>Русский</th>
    <th>Английский</th>
    <th>Словарь</th>
    <th>Удаление</th>
    </thead>
    <tbody>
    <% @words.each do |word| %>
      <tr>
        <td> <%= word.russian %></td>
        <td> <%= word.english %></td>
        <td> <%= word.dictionary.title %></td>
        <td><a href="/dictionary/remove/<%= word.id %>" methods="delete">Удалить</a></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to 'Добавить пару', '/dictionary/new' %> <br>
<%= link_to 'Просмотр словарей', dictionaries_url %>
</body>
</html>
