<html>
<head>
  <title><%= t :add_word %></title>
</head>
<body>

<% if @message %>
  <p style="color: <%= @color %>">
    <% if @error %>
      <%= t :error_adding  %>!
    <% else %>
      <%= t :pair_added %>!
    <% end %>
  </p>
<% end %>

<%= form_tag(url: '/dictionary/new', method: 'post') do %>
  <%= label_tag t :rus %>
  <%= text_field_tag :russian %> <br>
  <%= label_tag t :eng %>
  <%= text_field_tag :english %> <br>
  <%= select_tag :dictionary_id, options_from_collection_for_select(@dictionaries, 'id', 'title') %> <br> <br>
  <%= submit_tag t :create_pair %>
<% end %>
<%= link_to (t :to_dictionary), dictionary_index_url %>
</body>
</html>
