<html>
<head>
  <title>Добавление слова</title>
  <script>

  </script>
</head>
<body>

<% if @message %>
  <p style="color: <%= @color %>">
    <% if @error %>
      Произошла ошибка добавления пары!
    <% else %>
      Пара успешно добавлена!
    <% end %>
  </p>
<% end %>

<%= form_tag(url: '/dictionary/new', method: 'post') do %>
  <%= label_tag 'Русский:' %>
  <%= text_field_tag :russian %> <br>
  <%= label_tag 'Английский:' %>
  <%= text_field_tag :english %> <br>
  <%= select_tag :dictionary_id, options_from_collection_for_select(@dictionaries, 'id', 'title') %> <br> <br>
  <%= submit_tag 'Создать пару' %>
<% end %>
<%= link_to 'К словарю', dictionary_index_url %>
</body>
</html>
