<html>
<head>
  <title>Результаты тестирования</title>
</head>
<body>
<% if user_signed_in? %>
  Вы вошли, <%= current_user.email %> <br>
  <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
<% else %>
  Вы - аноним
<% end %>

<h2>Процент правильности выполнения теста: <%= @mark %>%</h2>

<% if @wrong_answers.any? %>
  <p>Неправильные ответы:</p>
  <ul>
    <% @wrong_answers.each do |answer| %>
      <li>рус: <%= answer.russian %> | eng: <%= answer.english %></li>
    <% end %>
  </ul>
<% end %>
<%= link_to 'Обратно к параметрам', test_settings_url %> <br>
<%= link_to 'Пары слов', dictionary_index_url %> <br>
<%= link_to 'Просмотр словарей', dictionaries_url %>
</body>
</html>
