<html>
<head>
  <title>Результаты тестирования</title>
</head>
<body>
<% if user_signed_in? %>
  Вы вошли, <%= current_user.email %> <br>
  <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
<% else %>
  Вы - аноним
<% end %>

<h2>Правильность выполнения теста: <%= @mark %>%</h2>

<% if @wrong_answers.any? %>
<table border="1" style="text-align: center">
  <caption>Ошибки</caption>
  <thead>
  <th>Правильный ответ</th>
  <th>Ваш ответ</th>
  </thead>
  <tbody>
    <% @wrong_answers.each do |question| %>
    <tr><td style="color: green"><%= question[:right] %></td><td style="color: red"><%= question[:wrong] %></td></tr>
    <% end %>
  </tbody>
  </table>
<% else %>
  <h4 style="color: green">Вы правильно перевели все слова!</h4>
<% end %>
<%= link_to 'Обратно к параметрам', test_settings_url %> <br>
<%= link_to 'Пары слов', dictionary_index_url %> <br>
<%= link_to 'Просмотр словарей', dictionaries_url %>
</body>
</html>
