<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
  Вы вошли, <%= current_user.email %> <br>
  <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
<% else %>
  Вы - аноним
<% end %>

<h1>Словари</h1>

<% if @empty %>
  <h3 style="color: red">У вас нет ни одного словаря!</h3>
  <% else %>
<ol>
  <% @dictionaries.each do |dictionary| %>
    <li>
      <a class="show_table" id="<%= dictionary.id %>"><b><%= dictionary.title %></b></a>
      <%= link_to 'Edit', edit_dictionary_path(dictionary) %>
      <%= link_to 'Destroy', dictionary, method: :delete, data: {confirm: 'Are you sure?'} %> <br>
      <div id="table_<%= dictionary.id %>"></div>
    </li>
  <% end %>
</ol>
<% end %>
<br>

<%= link_to 'Новый словарь', new_dictionary_url %> <br>
<%= link_to 'Пары слов', dictionary_index_url %> <br>
<%= link_to 'Словарный диктант', test_settings_url %> <br>
