<html>
<head>
  <script>
      $(document).ready(function () {
          $('.show_table').click(function () {
              let current_id = $(this).attr('id');
              if (!$('#table_' + current_id).is(':empty')) {
                  $('#table_' + current_id).html('');
                  return;
              }
              $.ajax({
                  url: '/dictionaries/' + current_id,
                  dataType: 'json',
                  success: function (data) {
                      let result_data;
                      if (data.empty) {
                          result_data = "<p style='color:red'><%= t :dictionary_no_contains %>></p>";
                      } else {
                          result_data = data.table;
                      }
                      $('#table_' + current_id).html(result_data);
                  },
              });
          });
      });
  </script>
</head>
<body>
<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
  <%= t :you_log_in %>, <%= current_user.email %> <br>
  <%= link_to (t :logout), destroy_user_session_path, method: :delete %>
<% end %>

<%= content_tag :li do %>
  <%= link_to 'Переключиться на английский', locale: :en %>
<% end unless current_page? locale: :en %>

<%= content_tag :li do %>
  <%= link_to 'Switch to Russian', locale: :ru %>
<% end unless current_page? locale: :ru %>

<br>

<h1><%= t :dictionaries %></h1>

<% if @empty %>
  <h3 style="color: red"><%= t :you_have_not_dictionaries %>!</h3>
<% else %>
  <ol>
    <% @dictionaries.each do |dictionary| %>
      <li>
        <a class="show_table" id="<%= dictionary.id %>"><b><%= dictionary.title %></b></a>
        <%= link_to (t :edit), edit_dictionary_path(dictionary) %>
        <%= link_to (t :destroy), dictionary, method: :delete, data: {confirm: (t :are_you_sure)} %> <br>
        <div id="table_<%= dictionary.id %>"></div>
      </li>
    <% end %>
  </ol>
<% end %>
<br>

<%= link_to (t :new_dictionary), new_dictionary_url %> <br>
<%= link_to (t :words_pair), dictionary_index_url %> <br>
<%= link_to (t :dictation), test_settings_url %> <br>

</body>
</html>